.app {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.logo {
  text-align: center;
  margin-bottom: 3rem;

  img {
    max-width: 80px;
    max-height: 80px;
  }
}

.container {
  display: flex;
  justify-content: space-around;
  gap: 2rem;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  div:first-child {
    flex-grow: 1;
  }

  div:last-child {
    flex-grow: 3;
  }
}

.filter-panel {
  flex-grow: 1;
}

.main-content {
  flex-grow: 3;
}
